1. Escreva um programa que pergunte o depósito inicial e a taxa de juros de uma poupança. Exiba os valores mês a mês para os 24 primeiros meses. Escreva o total ganho com juros no período.

In [ ]:
principal = float(input("Insira deposito: "))
taxa_juros = float(input("Insira deposito: "))

# Inicialização das variáveis
montante_total = principal
total_juros = 0

# Cálculo dos juros compostos
for i in range(1, 24):
    juros = montante_total * (taxa_juros / 100)
    montante_total += juros
    total_juros += juros
    print(f"Ano {i}: Montante Total = R${montante_total:.2f}, Ganho com Juros = R${total_juros:.2f}")

# Resultados finais
print(f"\nCapital Inicial: R${principal:.2f}")
print(f"Total de Juros: R${total_juros:.2f}")
print(f"Montante Total após {periodos} anos: R${montante_total:.2f}")

Insira deposito: 10
Insira deposito: 2
Ano 1: Montante Total = R$10.20, Ganho com Juros = R$0.20
Ano 2: Montante Total = R$10.40, Ganho com Juros = R$0.40
Ano 3: Montante Total = R$10.61, Ganho com Juros = R$0.61
Ano 4: Montante Total = R$10.82, Ganho com Juros = R$0.82
Ano 5: Montante Total = R$11.04, Ganho com Juros = R$1.04
Ano 6: Montante Total = R$11.26, Ganho com Juros = R$1.26
Ano 7: Montante Total = R$11.49, Ganho com Juros = R$1.49
Ano 8: Montante Total = R$11.72, Ganho com Juros = R$1.72
Ano 9: Montante Total = R$11.95, Ganho com Juros = R$1.95
Ano 10: Montante Total = R$12.19, Ganho com Juros = R$2.19
Ano 11: Montante Total = R$12.43, Ganho com Juros = R$2.43
Ano 12: Montante Total = R$12.68, Ganho com Juros = R$2.68
Ano 13: Montante Total = R$12.94, Ganho com Juros = R$2.94
Ano 14: Montante Total = R$13.19, Ganho com Juros = R$3.19
Ano 15: Montante Total = R$13.46, Ganho com Juros = R$3.46
Ano 16: Montante Total = R$13.73, Ganho com Juros = R$3.73
Ano 17: Montante Total = R$14.00, Ganho com Juros = R$4.00
Ano 18: Montante Total = R$14.28, Ganho com Juros = R$4.28
Ano 19: Montante Total = R$14.57, Ganho com Juros = R$4.57
Ano 20: Montante Total = R$14.86, Ganho com Juros = R$4.86
Ano 21: Montante Total = R$15.16, Ganho com Juros = R$5.16
Ano 22: Montante Total = R$15.46, Ganho com Juros = R$5.46
Ano 23: Montante Total = R$15.77, Ganho com Juros = R$5.77

Capital Inicial: R$10.00
Total de Juros: R$5.77
Montante Total após 24 anos: R$15.77

2. Escreva um programa para controlar uma pequena máquina registradora. Você deve solicitar ao usuário que digite o código do produto e a quantidade comprada. Utilize a tabela de códigos a seguir para obter o preço de cada produto:


*   Cód - Preço
*   1 - 0,50
*   2 - 1,00
*   3 - 4,00
*   5 - 7,00
*   9 - 8,00

Seu programa deve exibir o total das compras depois que o usuário digitar 0. Qualquer outro código deve gerar a mensagem de erro “Código inválido”.

In [ ]:
codigo_produto = int(input("Digite o código do produto: "))
quantidade_comprada = int(input("Digite a quantidade comprada: " ))

while codigo_produto != 0:
  print(f"Cód - Preço 1 - 0,50 \n 2 - 1,00 \n 3 - 4,00 \n 5 - 7,00 \n 9 - 8,00")

3. Faça um programa que leia e valide as seguintes informações:
* Nome: maior que 3 caracteres;
* Idade: entre 0 e 150;
* Salário: maior que zero;
* Sexo: 'f' ou 'm';
* Estado Civil: 's', 'c', 'v', 'd';

In [ ]:
name = ''
idade = -1
salario = -1
sexo = ''
estado_civil = ''

while len(name) <= 3:
  print("Digite seu nome mior que 3 letras")
  name = input("Digite seu nome: ")

while idade < 0 or idade > 150:
  print("Digite sua idade entre 0 e 150")
  idade = int(input("Digite sua idade: "))


while salario <= 0:
  print("Digite seu salário maior que 0")
  salario = float(input("Digite seu salário: "))

while sexo != 'f' and sexo != 'm':
  print("Digite seu sexo 'f' ou 'm'")
  sexo = input("Digite seu sexo: ")

while estado_civil != 's' and estado_civil != 'c' and estado_civil != 'v' and estado_civil != 'd':
  print("Digite seu estado civil 's', 'c', 'v', 'd'")
  estado_civil = input("Digite seu estado civil: ")


print(f"Nome: {name}")
print(f"Idade: {idade}")
print(f"Salário: {salario}")
print(f"Sexo: {sexo}")
print(f"Estado Civil: {estado_civil}")

Digite seu nome: V
Digite seu nome: Verissimo
Digite sua idade: 20
Digite seu salário: 20
Digite seu sexo: m
Digite seu estado civil: c
Nome: Verissimo
Idade: 20
Salário: 20.0
Sexo: m
Estado Civil: c

4. Supondo que a população de um país A seja da ordem de 80000 habitantes com uma taxa anual de crescimento de 3% e que a população de B seja 200000 habitantes com uma taxa de crescimento de 1.5%. Faça um programa que calcule e escreva o número de anos necessários para que a população do país A ultrapasse ou iguale a população do país B, mantidas as taxas de crescimento.

In [ ]:
populacao_a = 80000
populacao_b = 200000
taxa_a = 0.03
taxa_b = 0.015
ano_sugerido = 0

while populacao_a <= populacao_b:
  populacao_a = populacao_a + (populacao_a * taxa_a)
  populacao_b = populacao_b + (populacao_b * taxa_b)
  ano_sugerido = ano_sugerido + 1

  print(f"Ano sugerido: {ano_sugerido}")
  print(f"População A: {populacao_a:.2f}")
  print(f"População B: {populacao_b:.2f}")
  print("_"*50)

5. Desenvolva um gerador de tabuada, capaz de gerar a tabuada de qualquer número inteiro entre 1 a 10. O usuário deve informar de qual numero ele deseja ver a tabuada. A saída deve ser conforme o exemplo abaixo:
Tabuada de 5:
5 X 1 = 5
5 X 2 = 10
...
5 X 10 = 50

In [ ]:
tabuda = int(input("Digite o número da tabuada: "))

if tabuda < 1 or tabuda > 10:
  print("Número inválido")
else:
  for i in range(1, 11):
    print(f"{i} X {tabuda} = {i*tabuda}")

Digite o número da tabuada: 3
1 X 3 = 3
2 X 3 = 6
3 X 3 = 9
4 X 3 = 12
5 X 3 = 15
6 X 3 = 18
7 X 3 = 21
8 X 3 = 24
9 X 3 = 27
10 X 3 = 30

6. Faça um programa que leia um nome de usuário e a sua senha e não aceite a senha igual ao nome do usuário, mostrando uma mensagem de erro e voltando a pedir as informações.

In [ ]:
nome_usuario = input(f"Digite seu nome: ")
senha_usuario = input(f"Dgite sua Senha: ")

while nome_usuario == senha_usuario:
  print("Você não pode digitar senha igual nome")
  nome_usuario = input(f"Digite seu nome: ")
  senha_usuario = input(f"Dgite sua Senha: ")

Digite seu nome: Ver
Dgite sua Senha: Ver
Você não pode digitar senha igual nome
Digite seu nome: Ver
Dgite sua Senha: ver

7. Em uma eleição presidencial existem quatro candidatos. Os votos são informados por meio de código. Os códigos utilizados são:


* 1 , 2, 3, 4  - Votos para os respectivos candidatos  (você deve montar a tabela ex: 1 - Jose/ 2- João/etc)
* 5 - Voto Nulo
* 6 - Voto em Branco

Faça um programa que calcule e mostre:
1. O total de votos para cada candidato;
2. O total de votos nulos;
3. O total de votos em branco;
4. A percentagem de votos nulos sobre o total de votos;
5. A percentagem de votos em branco sobre o total de votos. Para finalizar o conjunto de votos tem-se o valor zero.

In [ ]:
# Dicionário para armazenar os votos
votos = {
    1: 0,  # Candidato 1 - José
    2: 0,  # Candidato 2 - João
    3: 0,  # Candidato 3 - Maria
    4: 0,  # Candidato 4 - Ana
    5: 0,  # Voto Nulo
    6: 0   # Voto em Branco
}

# Recebe os votos até que o valor 0 seja informado
while True:
    voto = int(input("Informe o voto (1-6) ou 0 para encerrar: "))
    if voto == 0:
        break
    if 1 <= voto <= 6:
        votos[voto] += 1
    else:
        print("Voto inválido. Tente novamente.")

# Calcula o total de votos
total_votos = sum(votos.values())

# Verifica se houve votos
if total_votos == 0:
    print("Nenhum voto foi registrado.")
else:
    # Calcula as percentagens
    perc_nulos = (votos[5] / total_votos) * 100
    perc_brancos = (votos[6] / total_votos) * 100

    # Exibe os resultados
    print("\nResultado da eleição:")
    print(f"Total de votos para o candidato 1 (José): {votos[1]}")
    print(f"Total de votos para o candidato 2 (João): {votos[2]}")
    print(f"Total de votos para o candidato 3 (Maria): {votos[3]}")
    print(f"Total de votos para o candidato 4 (Ana): {votos[4]}")
    print(f"Total de votos nulos: {votos[5]}")
    print(f"Total de votos em branco: {votos[6]}")
    print(f"Percentagem de votos nulos: {perc_nulos:.2f}%")
    print(f"Percentagem de votos em branco: {perc_brancos:.2f}%")

*
**
***
****

8. Escreva um programa que lê o tamanho do lado de um quadrado e imprime um

*   `Item de lista`
*   Item de lista

quadrado daquele tamanho com asteriscos e espaços em branco. Seu programa deve funcionar para quadrados com lados de todos os tamanhos entre 1 e 20.
![Captura de tela 2024-07-10 165307.png]()